.card{
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;

}


img{
    width:auto;
    height:200px;
    transition:all .5s ease-in-out;
}
.card-image:hover img{
    -webkit-transorm:scale(1.3);
    transform:scale(1.3);

}
.card-image{
    overflow:hidden;
}
img:hover{
   filter: grayscale(80%);

}
.card-title{
    text-shadow: 2px 2px 1px black;
}



